{
  "swagger": "2.0",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "host": "api.worldaqi.com",
  "basePath": "/v2",
  "schemes": ["http"],
  "info": {
    "version": "2.0.2",
    "title": "Greenroom Data API",
    "description": "Greenroom Air quality and pollution API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "Greenroom",
      "email": "care@worldaqi.org",
      "url": "https://www.worldaqi.com/"
    }
  },
  "definitions": {
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "example": 200,
          "type": "integer"
        },
        "message": {
          "example": "See documentation",
          "type": "string"
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Station": {
      "type": "object",
      "properties": {
        "station_id": {
          "format": "int64",
          "example": 1001,
          "type": "integer"
        },
        "name": {
          "example": "FR000001",
          "type": "string"
        },
        "city": {
          "example": "Paris",
          "type": "string"
        },
        "county": {
          "example": "Orange",
          "type": "string"
        },
        "state": {
          "example": "California",
          "type": "string"
        },
        "country": {
          "example": "France",
          "type": "string"
        },
        "continent": {
          "example": "Europe",
          "type": "string"
        },
        "latitude": {
          "example": "53.062967",
          "type": "number"
        },
        "longitude": {
          "example": "14.272512",
          "type": "number"
        }
      }
    },
    "AQI": {
      "type": "object",
      "properties": {
        "pollutant": {
          "example": "PM25",
          "type": "string"
        },
        "value": {
          "example": 0,
          "type": "string"
        },
        "category": {
          "example": "Good",
          "description": "N/A, Good, Moderate, Unhealthy for Sensitive Groups, Unhealthy, Very Unhealthy, Hazardous",
          "type": "string"
        }
      }
    },
    "AirQuality": {
      "type": "object",
      "properties": {
        "pm25": {
          "example": 17,
          "type": "integer"
        },
        "pm10": {
          "example": 17,
          "type": "integer"
        },
        "no2": {
          "example": 17,
          "description": "Oxides of Nitrogen",
          "type": "integer"
        },
        "o3": {
          "example": 17,
          "description": "Ozone & VOC (Volatile Organic Compound)",
          "type": "integer"
        },
        "co": {
          "example": 17,
          "description": "Carbon monoxide",
          "type": "integer"
        },
        "so2": {
          "example": 17,
          "description": "Sulfer dioxide",
          "type": "integer"
        },
        "aqi": {
          "description": "Calculated value (US EPA)",
          "$ref": "#/definitions/AQI"
        },
        "updated_at": {
          "example": "2016-11-01 08:13:15 UTC",
          "type": "string"
        }
      }
    },
    "Forecast": {
      "type": "object",
      "properties": {
        "date": {
          "example": "2016-11-01 08:13:15 UTC",
          "type": "string"
        },
        "high_f": {
          "example": 87,
          "type": "number"
        },
        "high_c": {
          "example": 31,
          "type": "number"
        },
        "low_f": {
          "example": 67,
          "type": "number"
        },
        "low_c": {
          "example": 19,
          "type": "number"
        },
        "text_f": {
          "example": "A few clouds. Low 67F. Winds light and variable.",
          "type": "string"
        },
        "text_c": {
          "example": "Partly cloudy skies. Low 19C. Winds light and variable.",
          "type": "string"
        }
      }
    },
    "Weather": {
      "type": "object",
      "properties": {
        "current_condition": {
          "example": "Mostly Cloudy",
          "type": "string"
        },
        "temperature_f": {
          "example": 63.9,
          "type": "number"
        },
        "temperature_c": {
          "example": 17.7,
          "type": "number"
        },
        "feelslike_f": {
          "example": 63.9,
          "type": "number"
        },
        "feelslike_c": {
          "example": 17.7,
          "type": "number"
        },
        "uv": {
          "example": 2,
          "type": "number"
        },
        "wind": {
          "example": "From the NW at 4.0 MPH Gusting to 10.0 MPH",
          "type": "string"
        },
        "wind_direction": {
          "example": "NW",
          "type": "string"
        },
        "wind_degrees": {
          "example": 314,
          "type": "integer"
        },
        "wind_mph": {
          "example": 4,
          "type": "number"
        },
        "wind_gust_mph": {
          "example": 10,
          "type": "number"
        },
        "wind_kph": {
          "example": 6.4,
          "type": "number"
        },
        "wind_gust_kph": {
          "example": 16.1,
          "type": "number"
        },
        "relative_humidity": {
          "example": "71%",
          "type": "string"
        },
        "date": {
          "example": "2016-11-01 08:13:15 UTC",
          "type": "string"
        },
        "forecast": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Forecast"
          }
        }
      }
    },
    "Index": {
      "type": "object",
      "properties": {
        "station": {
          "$ref": "#/definitions/Station"
        },
        "indexes": {
          "$ref": "#/definitions/AirQuality"
        },
        "weather": {
          "$ref": "#/definitions/Weather"
        }
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "description": "Base method to ping the API",
        "tags": [
          "Ping"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "description": "Standard response"
          }
        }
      }
    },
    "/all_indices": {
      "get": {
        "summary": "Get the full AQI base",
        "description": "    Returns the full base of Air Quality Indices.\n    For FULL BASE plan only, max 24 calls per day.\n",
        "tags": [
          "Air Quality"
        ],
        "parameters": [
          {
            "name": "user_key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User Key Authentication Parameter",
            "x-data-threescale-name": "user_keys"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Index"
              }
            },
            "description": "Standard response"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "description": "Invalid arguments"
          }
        }
      }
    },
    "/indice": {
      "get": {
        "summary": "Get the Air Quality Indices for a location",
        "description": "    Returns the Air Quality indices of a location.\n    You can get indices by:\n    - Station ID\n    - IP address\n    - Geocraphic coordinates\n",
        "tags": [
          "Air Quality"
        ],
        "parameters": [
          {
            "name": "user_key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User Key Authentication Parameter",
            "x-data-threescale-name": "user_keys"
          },
          {
            "name": "station_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The ID of the place"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "longitude"
          },
          {
            "name": "ip_address",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "IP address to look for"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Index"
            },
            "description": "Standard response"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "description": "Invalid arguments"
          }
        }
      }
    },
    "/indices": {
      "get": {
        "summary": "Get AQI for multiple locations",
        "description": "    Returns the Air Quality indices of multiple location.\n    You can get indices by:\n    - Station ID\n    Rate limit is on station_id basis (3 stations ids will count for 3 calls)",
        "tags": [
          "Air Quality"
        ],
        "parameters": [
          {
            "name": "user_key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User Key Authentication Parameter",
            "x-data-threescale-name": "user_keys"
          },
          {
            "name": "station_ids",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "The IDs of the places"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Index"
              }
            },
            "description": "Standard response"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "description": "Invalid arguments"
          }
        }
      }
    },
    "/stations": {
      "get": {
        "summary": "Get list of all stations",
        "description": "Returns the list of all Greenroom API stations",
        "tags": [
          "Station"
        ],
        "produces": [
          "text/csv",
          "application/json"
        ],
        "parameters": [
          {
            "name": "user_key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "User Key Authentication Parameter",
            "x-data-threescale-name": "user_keys"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Station"
              }
            },
            "description": "Standard response"
          },
          "400": {
            "schema": {
              "$ref": "#/definitions/Status"
            },
            "description": "Invalid arguments"
          }
        }
      }
    }
  }
}
